<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add
      name="HospitalDB"
      connectionString="workstation id=HospitalWebsiteDB.mssql.somee.com;packet size=4096;user id=UmerShehzad_SQLLogin_2;pwd=qmsvzg5i9k;data source=HospitalWebsiteDB.mssql.somee.com;persist security info=False;initial catalog=HospitalWebsiteDB;TrustServerCertificate=True"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>
